<div class="container">
    <h2 class="app-title">Welcome to GAMMAPPI</h2>
    <p class="app-description">
        This is a CRUD application built with Angular for the FrontEnd and some services with Python, Java. <br>
    </p>
    <p class="app-description">These pages are:</p>
    <ul class="app-links">
        <li><a routerLink="/actions" class="app-link" mat-button>Register User</a></li>
        <li><a routerLink="/item-list" class="app-link" mat-button>Restaurants List</a></li>
    </ul>

    <p style="font-size: 1rem;"><b> can also access these pages via the top menu</b></p>
</div>
<router-outlet></router-outlet>